In [1]:
# IMPORTS
import numpy as np
import pandas as pd

#Fin Data Sources
import yfinance as yf
import pandas_datareader as pdr

#Data viz
import plotly.graph_objs as go
import plotly.express as px

import time
from datetime import date

# for graphs
import matplotlib.pyplot as plt

## IPOs data from Web

In [ ]:
import pandas as pd
import requests

# Set headers to mimic a real browser request
# This prevents the website from blocking our script as a bot
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.3',
}

# URL for the 2023 IPO listings page on Stock Analysis website
url = "https://stockanalysis.com/ipos/2023/"

# Send HTTP GET request to fetch the webpage content
response = requests.get(url, headers=headers)

# Parse all HTML tables from the page into a list of DataFrames
# Each table on the page becomes a separate DataFrame in the list
ipo_dfs = pd.read_html(response.text)

# Access the first table with: ipo_dfs[0]

/tmp/ipython-input-4213396001.py:11: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  ipo_dfs = pd.read_html(response.text)

In [29]:
ipos_2023 = ipo_dfs[0]
ipos_2023.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 154 entries, 0 to 153
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   IPO Date      154 non-null    object
 1   Symbol        154 non-null    object
 2   Company Name  154 non-null    object
 3   IPO Price     154 non-null    object
 4   Current       154 non-null    object
 5   Return        154 non-null    object
dtypes: object(6)
memory usage: 7.3+ KB

In [30]:
ipos_2023.head()

,IPO Date,Symbol,Company Name,IPO Price,Current,Return
0,"Dec 27, 2023",IROH,Iron Horse Acquisitions Corp.,$10.00,$4.09,-25.00%
1,"Dec 19, 2023",LGCB,Linkage Global Inc,$4.00,$2.04,-48.75%
2,"Dec 15, 2023",BAYA,Bayview Acquisition Corp,$10.00,$11.63,16.30%
3,"Dec 15, 2023",ZKH,ZKH Group Limited,$15.50,$3.22,-79.23%
4,"Dec 14, 2023",INHD,Inno Holdings Inc.,$4.00,$0.15,-96.18%

In [31]:
ipos_2023.shape

(154, 6)

In [32]:
ipos_2024 = ipo_dfs[0]
ipos_2024.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 154 entries, 0 to 153
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   IPO Date      154 non-null    object
 1   Symbol        154 non-null    object
 2   Company Name  154 non-null    object
 3   IPO Price     154 non-null    object
 4   Current       154 non-null    object
 5   Return        154 non-null    object
dtypes: object(6)
memory usage: 7.3+ KB

In [33]:
ipos_2024.head()

,IPO Date,Symbol,Company Name,IPO Price,Current,Return
0,"Dec 27, 2023",IROH,Iron Horse Acquisitions Corp.,$10.00,$4.09,-25.00%
1,"Dec 19, 2023",LGCB,Linkage Global Inc,$4.00,$2.04,-48.75%
2,"Dec 15, 2023",BAYA,Bayview Acquisition Corp,$10.00,$11.63,16.30%
3,"Dec 15, 2023",ZKH,ZKH Group Limited,$15.50,$3.22,-79.23%
4,"Dec 14, 2023",INHD,Inno Holdings Inc.,$4.00,$0.15,-96.18%

In [34]:
ipos_2024.shape

(154, 6)

In [35]:
# "stacking dataframes"
# pd.concat() is used to concatenate the DataFrames vertically.
# The ignore_index=True parameter ensures that the resulting DataFrame has a new index,
# ignoring the original indices of the input DataFrames.
# The stacked_df now contains the concatenated DataFrame.
stacked_ipos_df = pd.concat([ipos_2024, ipos_2023], ignore_index=True)

In [38]:
# save the stacked dataframe to a csv file
stacked_ipos_df.to_csv('stacked_ipos_2023_2024.csv', index=False)

In [39]:
import os
print(os.getcwd())

/content

In [41]:
from google.colab import drive
drive.mount('/content/drive')

# Save to your Google Drive
stacked_ipos_df.to_csv('/content/drive/MyDrive/stacked_ipos_2023_2024.csv', index=False)

ValueError: mount failed

In [8]:
stacked_ipos_df

,IPO Date,Symbol,Company Name,IPO Price,Current,Return
0,"Dec 27, 2023",IROH,Iron Horse Acquisitions Corp.,$10.00,$4.09,-25.00%
1,"Dec 19, 2023",LGCB,Linkage Global Inc,$4.00,$2.04,-48.75%
2,"Dec 15, 2023",BAYA,Bayview Acquisition Corp,$10.00,$11.63,16.30%
3,"Dec 15, 2023",ZKH,ZKH Group Limited,$15.50,$3.22,-79.23%
4,"Dec 14, 2023",INHD,Inno Holdings Inc.,$4.00,$0.15,-96.18%
...,...,...,...,...,...,...
303,"Jan 25, 2023",HERE,Here Group Limited,-,$5.17,-
304,"Jan 20, 2023",CVKD,"Cadrenal Therapeutics, Inc.",$5.00,$11.11,99.40%
305,"Jan 13, 2023",ISRL,Israel Acquisitions Corp,$10.00,$12.40,24.00%
306,"Jan 13, 2023",MGOL,MGO Global Inc.,$5.00,$0.37,-92.60%
307,"Jan 13, 2023",SKWD,"Skyward Specialty Insurance Group, Inc.",$15.00,$47.48,216.53%

In [13]:
# Need to convert everything to a proper type (date, str, int, float, etc.)
stacked_ipos_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 308 entries, 0 to 307
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   IPO Date      308 non-null    object
 1   Symbol        308 non-null    object
 2   Company Name  308 non-null    object
 3   IPO Price     308 non-null    object
 4   Current       308 non-null    object
 5   Return        308 non-null    object
dtypes: object(6)
memory usage: 14.6+ KB

In [14]:
# convert to datetime
stacked_ipos_df['IPO Date'] = pd.to_datetime(stacked_ipos_df['IPO Date'])

In [16]:
stacked_ipos_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 308 entries, 0 to 307
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   IPO Date      308 non-null    datetime64[ns]
 1   Symbol        308 non-null    object
 2   Company Name  308 non-null    object
 3   IPO Price     308 non-null    object
 4   Current       308 non-null    object
 5   Return        308 non-null    object
dtypes: datetime64[ns](1), object(5)
memory usage: 14.6+ KB

In [24]:
# Problem --> not always the columns are filled
missing_prices_df = stacked_ipos_df[stacked_ipos_df['IPO Price'].astype(str).str.contains('-', na=False)]
missing_prices_df

      IPO Date Symbol        Company Name IPO Price Current Return
48  2023-09-07    AXG    Solowin Holdings         -   $3.35      -
149 2023-01-25   HERE  Here Group Limited         -   $5.17      -
202 2023-09-07    AXG    Solowin Holdings         -   $3.35      -
303 2023-01-25   HERE  Here Group Limited         -   $5.17      -

In [26]:
missing_prices_df

      IPO Date Symbol        Company Name IPO Price Current Return
48  2023-09-07    AXG    Solowin Holdings         -   $3.35      -
149 2023-01-25   HERE  Here Group Limited         -   $5.17      -
202 2023-09-07    AXG    Solowin Holdings         -   $3.35      -
303 2023-01-25   HERE  Here Group Limited         -   $5.17      -